.cell {
    aspect-ratio: 1 / 1;
    background: rgba(255, 255 255, 0.8);
    border-radius: 6%;
    border: none;
    display: block;
    flex: 1 1 0%;
    outline: none;
    position: relative;
    width: 100%;
}

.cell-content {
    opacity: 1;
    transition: opacity 0.25s;
}

.transparent {
    opacity: 0;
}

.cell-dim {
    background: rgba(249, 249, 240, 0.3);
}

.cell-highlight {
    background: #ffff00;
}

.clickable {
    cursor: pointer;
}

.board {
    --gap: 0.25rem;
    background: #000000;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--gap);
    max-width: 80vh;
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}
