.cell {
    aspect-ratio: 1 / 1;
    background: rgba(255, 255 255, 0.8);
    border-radius: 6%;
    border: none;
    display: block;
    flex: 1 1 0%;
    outline: none;
    position: relative;
    width: 100%;
}

.cell-content {
    opacity: 1;
    transition: opacity 0.25s;
}

.transparent {
    opacity: 0;
}

.cell-dim {
    background: rgba(249, 249, 240, 0.3);
}

.cell-highlight {
    background: #fcfcf3;
}

.clickable {
    cursor: pointer;
}
